{%- set main_stylesheet_url = static_url('main.css') -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link rel="preload" as="style" href="{{ main_stylesheet_url }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        {%- block preloads -%}
        {%- endblock -%}

        {%- block metatags -%}
        {%- endblock -%}

        <title>{%- block title -%}{{ title|striptags|e }}{%- endblock -%}</title>

        <link rel="stylesheet" href="{{ main_stylesheet_url }}" media="print" onload="this.media='all'" />
        <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Zilla+Slab:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        {%- block extra_styles -%}
        {%- endblock -%}

        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
        <script defer>
            document.querySelector("html").setAttribute("data-theme", localStorage.getItem("theme") || window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
        </script>
        {%- block extra_scripts -%}
        {%- endblock -%}

    </head>
    <body>
        <div id="page-wrapper">
            <div id="header-wrapper" class="mb-8 bg-white border-b-2 border-b-slate-200 shadow">
                <header>
                    <div class="flex my-auto mx-4 p-4 gap-x-2">
                        <div id="brand-wrapper" class="ml-auto px-4 text-2xl">
                            <a href="/" class="text-slate-800"><strong>A<span class="text-orange-700">-</span><u class="decoration-orange-700">sketch</u>y</strong><em><span class="text-orange-700">.</span>site</em></a>
                        </div>
                        <nav id="top-nav" class="basis-2/3 px-4 border-x-2 border-slate-200">
                            <div class="mr-auto">

                            </div>
                        </nav>
                        <div class="flex mr-auto px-4">
                            <div id="theme-switcher" class="">
                                <button class="mt-1"><span class="flex gap-x-1 justify-center text-md text-slate-600">
                                    <iconify-icon icon="material-symbols:brightness-6-rounded" width="24" height="24" class="inline-block"></iconify-icon>
                                    Theme</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <div id="document-wrapper" class="flex gap-x-6 mx-40">
                    <div class="basis-1/6">
                    </div>
                    <div class="basis-1/6 order-last">
                    </div>

                <div id="content" class="basis-2/3">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer>
        </footer>
    </body>
</html>