{% extends "page.html" %}

{%- block htmltitle %}
<title>{{app_name}}</title>
{% endblock -%}

{% block extra_styles %}
<link rel="stylesheet" href="{{ static_url('bundle.css') }}" media="print" onload="this.media='all'" />
{% endblock %}
{% block extra_scripts %}
{% if extra_data != None %}
<script id="data" type="application/json">{{ extra_data | safe }}</script>
{% endif %}
<script defer src="{{ static_url('bundle.js') }}" id="svelte" data-component="{{ component }}" data-title="{{ title }}"></script>
{% endblock %}
